*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
    /* background-color: #f5f9fc; */
}

#root {
    min-height: 100vh;
    display: flex !important;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}